<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">

<head>

   <%= render "common/head" %>

</head>

<body>


<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="twitter.js"></script>

    <%= render "common/navbar" %>
    <%= render "common/usercardboard" %>
    <%= render "common/events" %>
    <%= render "common/inc" %>
</div>

<%= render "common/hot" %>

</body>

</html>
